/*------------------------------------- Min-Width -------------------------------------*/
@media (min-width: 992px){
    .mainbar{
        height: 100px;
    }
    .mainbar .navbar{
        height: 100%;
    }
    .mainbar .navbar-nav .nav-link{
        margin-left: 40px;
    }
}
@media (min-width: 1024px){
    .swiper-content{
        padding-left: 30px;
    }
    .swiper-slide .swiper-img{
        margin-right: 30px;
    }
}
@media (min-width: 1600px){
    section#banner .swiper-slide .swiper-content{
        margin-left: 18%;
      }
    section#banner .banner-img-shadow{
        display: none;
    }
}
@media (min-width: 1750px){
    section#banner .swiper-slide .swiper-content{
        margin-left: 27%;
      }
}
@media (min-width: 2000px){
    section#banner .swiper-slide .swiper-content{
        margin-left: 36%;
      }
}
@media (min-width: 2250px){
    section#banner .swiper-slide .swiper-content{
        margin-left: 45%;
      }
}

/*------------------------------------- Min/Max-Width -------------------------------------*/

@media ((min-width: 992px) and (max-width: 1200px)){
    section#products .tab-product-box .h-100{
        height: auto !important;
    }
    section#products .tab-product-box .tab-product-img img{
        margin: 0 auto;
    }
    section#products .tab-product-box .tab-product-img{
        border-right: none;
        border-bottom: 1px solid var(--bs-secondary);
    }
}
@media ((min-width: 768px) and (max-width: 991px)){
    section#products .tab-product-box .h-100{
        height: 100% !important;
    }
    section#products .tab-product-box .tab-product-img img{
        width: auto;
        margin: auto;
    }
    section#products .tab-product-box .tab-product-img{
        border-bottom: none;
        border-right: 1px solid var(--bs-secondary);
    }
}
/*------------------------------------- Max-Width -------------------------------------*/
@media (max-width: 1399px){
    .sect-title h2{
        font-size: 32px;
    }
}
@media (max-width: 1200px){
    .sect-title h2{
        font-size: 30px;
    }
}
@media (max-width: 1024px){
    .btn{
        --bs-btn-padding-x: 40px;
        --bs-btn-padding-y: 14px;
    }
    .swiper-slide .col-6{
        width: 100%;
    }
    .swiper-slide .swiper-content{
        text-align: center;
        margin-top: 50px;
    }
    section#banner .swiper-slide .swiper-content h1{
        font-size: 44px;
    }
    .swiper-slide .swiper-content p{
        margin-left: 10%;
        margin-right: 10%;
    }
    .swiper-slide .swiper-img img{
        margin: 0 auto;
        margin-top: -50px;
    }
    section#banner{
        height: 800px;
    }
    section#banner .swiper-slide .banner-img-shadow{
        width: 90%;
    }
    section#banner .swiper-slide .swiper-content{
        margin-left: 0%;
    }
    section#banner .swiper-slide .banner-img .banner-content{
        width: calc(100% - 50%);
    }
}
@media (max-width: 991px){
    .navbar{
        padding: 20px 0;
    }
    .navbar-nav{
        padding-top: 20px;
    }
    .sect-title h2{
        font-size: 32px;
    }
    section#products .product-img img{
        height: 300px;
        margin: 0 auto;
    }
    section#products .product-desc .product-desc-inner{
        padding: 20px;
      }
    /* section#banner .swiper-slide .banner-img img{
        object-fit: contain;
    } */
}
@media (max-width: 767px){
    .swiper-slide .swiper-content p{
        margin-left: 3%;
        margin-right: 3%;
    }
    section#products .tab-product-box .h-100{
        height: auto !important;
    }
    section#products .tab-product-box .tab-product-img img{
        /* width: 300px; */
        margin: 0 auto;
    }
    section#products .tab-product-box .tab-product-img{
        border-right: none;
        border-bottom: 1px solid var(--bs-secondary);
    }
    section#products .tab-product-box .tab-product-content{
        text-align: center;
    }
    section#products .tab-product-box .tab-product-content{
        padding: 12px;
    }
    section#banner .swiper-slide .banner-img .banner-content{
        width: calc(100% - 45%);
    }
}
@media (max-width: 575px){
    .btn{
        --bs-btn-padding-x: 36px;
        --bs-btn-padding-y: 12px;
    }
    .mainbar .navbar-nav .nav-link{
        font-size: 14px;
    }
    section#banner{
        height: 680px;
    }
    section#banner .swiper-button-prev,section#banner .swiper-button-next{
        display: none;
    }
    .swiper-slide .swiper-content p{
        margin-left: 0;
        margin-right: 0;
    }
    section#banner .swiper-slide .swiper-content h1{
        font-size: 38px;
        letter-spacing: 0.1em;
        line-height: 40px;
    }
    p{
        font-size: 14px !important;
    }
    .sect-title h2{
        font-size: 28px;
        margin-bottom: -10px;
    }
    .about-inner-box .card-body{
        padding: 15px;
    }
    section#products .nav-pills .nav-link{
        font-size: 14px;
    }
    .del-form{
        padding: 30px 20px;
    }
    section#products .owl-carousel .owl-nav button.owl-prev, section#products .owl-carousel .owl-nav button.owl-next{
        display: none;
    }
    section#banner .swiper-slide .banner-img .banner-content{
        width: calc(100% - 35%);
    }
}
@media (max-width: 400px){
    section#banner .swiper-slide .banner-img .banner-content{
        width: calc(100% - 20%);
    }
    section#banner .swiper-slide .banner-img .banner-content i{
        font-size: 16px;
    }
    section#banner .swiper-slide .banner-img .banner-content h3{
        font-size: 16px;
    }
}
@media (max-width: 350px){
    .social-icons li a{
        height: 45px;
        width: 45px;
        line-height: 45px;
    }
}